body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* THEME navbar&footer + sidenav */

.navf, .sidenav {
  background-color: #121c25;
}

/* THEME body */

body, .bodybg {
  background-color: #2a3f58;
}

/* THEME accent */

.accent {
  color: #e51b23;
}

.accentbg {
  background-color: #e51b23;
}

.circle {
  max-width: 6rem;
}

/* contact page */

.htxt {
  color: #2a3f58;
}

.btxt {
  color: #121c25;
}

.center, .center-align {
  text-align: center;
}