body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@media only screen and (max-width: 992px) {
  .parallax img {
    max-height: 130%;
    /* or a little bit higher */
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 170%;
    /* or higher percentages. It's up to your taste */
  }
}

.navf {
  background-color: #121c25;
}

body, .bodybg {
  background-color: #2a3f58;
}

.parallax-container {
  height: 350px;
}

.accent {
  color: #e51b23;
}

.accentbg {
  background-color: #e51b23;
}